# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Environment variables / secrets
.env
.env.*
*.pem
*.key

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/